<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FrameWork_Practice">
    <test name="Regression">
    <parameter name = "browser" value="Chrome"/>
         <classes>
             <class name="com.frameWork_Practice.Test.TC_001"/>
             <parameter name = "testcaseID" value = "TC_002"/>
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->